.IconCheckbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
}

.IconCheckbox-input,
.IconCheckbox-input:checked ~ .IconCheckbox-uncheckedIcon,
.IconCheckbox-input:not(:checked) ~ .IconCheckbox-checkedIcon {
  display: none;
}
